@import '../../assets/colors';

.home-wrapper {
  .home-container {
    .headline {
      font-size: 50px;
      margin-top: 150px;
      margin-bottom: 150px;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    .funds-header {
      font-size: 24px;
      font-weight: bold;
    }
    .funds {
      margin-top: 25px;
      .fund {
        border-radius: 10px;
        border: 1px solid $color-grey-light;
        padding: 20px;
        background: rgba(255, 255, 255, 0.5);
        &:hover {
          cursor: pointer;
        }
        .fund-name {
          font-size: 20px;
          font-weight: 600;
        }
        .fund-id {
          margin-top: 10px;
          font-size: 16px;
          color: $color-grey-dark;
        }
        .footer {
          margin-top: 50px;
          .detail {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            div {

            }
          }
        }
      }
    }
  }
}