@import '../../assets/colors';

.home-wrapper {
  .home-container {
    .banner-wrapper {
      .banner-container {
        .headline {
          video {
            width: 100% !important;
          }
        }
      }
    }
    .funds-header {
      font-size: 24px;
      font-weight: bold;
    }
    .funds {
      margin-top: 60px;
      .list-title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .fund {
        border-radius: 10px;
        border: 1px solid $color-grey-light;
        padding: 20px;
        background: rgba(255, 255, 255, 0.8);
        position: relative;
        .fund-status {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 14px;
          font-weight: bold;
        }
        .fund-name {
          font-size: 20px;
          font-weight: 600;
        }
        .fund-id {
          margin-top: 10px;
          font-size: 16px;
          color: $color-grey-dark;
        }
        .footer {
          margin-top: 50px;
          .detail {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            div {

            }
          }
        }
      }
    }
  }
}