@import "../../assets/colors";

.create-pool-wrapper {
  .create-pool-container {
    margin-top: -25px;
    margin-bottom: 50px;
    nav.crumb {
      margin-top: 12px;
      border-bottom: 1px solid $color-grey-light;
      padding-bottom: 10px;
    }
    .form-container {
      margin-top: 25px;
      .com-detail-sec {
        margin-bottom: 25px;
      }
      .section-title {
        margin-bottom: 25px;
        margin-top: 25px;
        font-size: 18px;
        position: relative;
        > span {
          background-color: white;
          padding-right: 10px;
        }
        i {
          color: $color-grey-dark;
          font-size: 15px;
          font-weight: bold;
          position: absolute;
          right: 120px;
          background: $color-light;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0.5em;
          border-top: 1px solid $color-grey-light;
          z-index: -1;
        }
      }
    }

    .file-upload-wrapper {
      .file-upload-container {
        min-height: 310px;
        border-radius: 10px;
        text-align: center;
        .upload-button {
          margin-top: 130px;
        }
        .file-content {
          padding: 10px;
          position: relative;
          img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 10px;
            max-width: 300px;
          }
          .remove {
            position: absolute;
            right: -15px;
            top: -15px;
          }
        }
      }
    }

  }
}