@import "../../assets/colors";

.menu-icon {
  margin-right: 10px;
}
.body-wrapper {
  .body-container {
    padding-top: 100px;
    height: calc(100vh - 160px);
    background: url("../../assets/images/hero-bg.png");
    .title {
      font-size: 50px;
      font-weight: bold;
      line-height: 1.1;
      margin-bottom: 50px;
    }
    .subtitle {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
      color: $color-grey-dark;
      font-family: SourceSansProLight !important;
    }
    .signer {
      padding: 10px;
      display: inline-block;
      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        vertical-align: middle;
      }
      .name {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .open-app {
      margin-top: 40px;
      .open-app-button {

      }
    }
  }
}