@import '../../assets/colors';

.delete-asset-wrapper {
  .delete-asset-container {
    text-align: center;
    .message {
      font-size: 16px;
      font-weight: bold;
    }
    .asset-details {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
      .name {
        margin-bottom: 5px;
        font-size: 20px;
      }
      .id {
        color: $color-grey-dark;
        font-size: 16px;
      }
    }
  }
}