@import "../../assets/colors";

.login-wrapper {
  .login-container {
    height: 100vh;
    background: url("../../assets/images/login-back.jpeg");
    background-size: 100% 100%;
    text-align: center;
    .logo-img {
      margin-top: 100px;
    }
    .login-form {
      text-align: center;
      background: $color-light;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
      height: 370px;
      margin: 20px auto;
      padding-top: 70px;
      border-radius: 10px;
      .networks {
        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 50px;
        }
      }
      .login-button {
        margin-top: 50px;
      }
      .settings-button {
        position: absolute;
        top: 5px;
        right: 10px;
      }
    }
  }
}