.login-wrapper {
  .login-container {
    height: 100vh;
    background: url("../../assets/images/login-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .login-form {
      text-align: center;
      padding: 100px;
      margin: 100px auto;
      .networks {
        margin-top: 20px;
      }

    .lock-icon {
        svg {
          font-size: 50px;
        }
      }
      .login-button {
        margin-top: 0px;
      }
      .settings-button {
        position: absolute;
        top: 5px;
        right: 10px;
      }
    }
  }
}