@import '../../assets/colors';

.qr-code-wrapper {
  .qr-code-container {
    text-align: center;
    margin-bottom: 50px;
  }
}

.left-bar-wrapper {
  .left-bar-container {
    height: 100vh;
    background: #F6FBF8;
    position: relative;
    border-right: 1px solid $color-grey-light;
    .footer {
      position: absolute;
      bottom: 0px;
      width: 100%;
      background: rgba(250, 92, 124, 0.04);
    }
    .logo {
      background: #4EB778;
      height: 80px;
      text-align: center;
      font-size: 24px;
      color: $color-light;
      font-weight: bold;
      img {
        width: 140px;
      }
      .text {
        display: inline-block;
        margin-top: 25px;
      }
    }
    .menu-list {
      width: 100%;
      position: absolute;
      bottom: 50px;
      a {
        display: block;
        margin: 20px;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }
    }
    .account {
      height: 500px;
      background: #DAF0E3;
      text-align: center;
      .avatar {
        width: 100px;
        height: 100px;
        background: linear-gradient(135deg, #4CB978 7.43%, #E0D122 92.2%);
        border-radius: 50%;
        margin-top: 90px;
        display: inline-block;
      }
      .addr {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        padding: 20px;
        overflow-wrap: break-word;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .bal {
        margin-top: 10px;
        font-size: 15px;
        img {
          width: 12px;
          margin-left: 5px;
        }
      }
      .user-actions {
        margin-bottom: 25px;
        svg {
          cursor: pointer;
          margin-left: 10px;
          margin-right: 5px;
          border-radius: 50%;
          border: 1px solid $color-grey-dark;
          padding: 5px;
          color: $color-grey-dark;
        }
      }
    }
  }
}