@import '../../assets/colors';

.delete-pool-wrapper {
  .delete-pool-container {
    .message {
      text-align: center;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}