@import "../../assets/colors";

.body-wrapper {
  .body-container {
    margin-top: 180px;
    .bullets {
      margin-top: 50px;
      margin-bottom: 30px;
      .bullet {
        margin: 10px 0px;
        font-size: 18px;
        span {
          vertical-align: middle;
          margin-right: 10px;
          img {
            width: 30px;
          }
        }
      }
    }
    .page-gif {
      img {
        width: 100%;
        margin-top: -25px;
      }
    }
    .anchor {
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 20px;
      }
      .subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        width: 60%;
        line-height: 24px;
      }
    }
    .open-app {
      margin-top: 40px;
    }
  }
}