@import '../../assets/colors';

.asset-action-icon {
  margin-right: 10px;
}

.opted-assets-wrapper {
  .opted-assets-container {
    margin-top: 50px;
    .opted-assets-header {
      display: flex;
      justify-content: space-between;
    }
    .assets {
      margin-top: 30px;
      .asset {
        padding: 0px 10px;
        .card-action-custom {
          background: $color-grey-very-light;
        }
        .url {
          padding: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $color-grey-dark;
          a {
            color: $color-grey-dark;
          }
        }
        .asset-name {
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 18px;
        }
        .params {
          margin-bottom: 15px;
          .row {
            display: flex;
            justify-content: space-between;
            .item {
              &.value {
                color: $color-grey-dark;
              }
            }
          }
        }
      }
    }
    .empty-message {
      margin-top: 150px;
      text-align: center;
      img {
        width: 200px;
      }
      .text {
        margin-top: 20px;
        font-weight: bold;
        color: #A9A9A9;
        font-size: 18px;
      }
    }
  }
}