@import '../../assets/colors';

.success-modal-wrapper {
  .success-modal-container {
    text-align: center;
    margin-top: -20px;
    .success-icon {
      font-size: 70px;
    }
    .message {
      font-size: 18px;
      font-weight: bold;
      margin-top: 25px;
      word-wrap: break-word;
      line-height: 1.2;
    }
  }
}