@import '../../assets/colors';

.my-fund-activity-wrapper {
  .my-fund-activity-container {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding: 30px;
    height: 250px;
    .not-connected-message, .no-activity {
      color: $color-grey-dark;
      margin-top: 25px;
      line-height: 1.3;
    }
    .loading {
      color: $color-grey-dark;
      margin-top: 25px;
    }
    .tile-name {
      font-size: 18px;
      font-weight: 600;
    }
    .activity-list {
      margin-top: 40px;
      .activity {
        margin: 20px 0px;
        padding-bottom: 15px;
        img {
          float: left;
          margin-right: 10px;
          width: 35px;
        }
        .title {
          font-size: 16px;
          font-weight: 600;
        }
        .txn-id {
          font-size: 13px;
          font-weight: 400;
          margin-top: 5px;
          color: $color-grey-dark;
          display: inline-block;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}