@import '../../assets/colors';

.pie-tile-wrapper {
  .pie-tile-container {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding: 30px;
    .tile-name {
      font-size: 20px;
      font-weight: 600;
    }
    .chart {
      margin-top: 30px;
      position: relative;
      .target-reached {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        svg {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
      .success-criteria {
        position: absolute;
        height: 20px;
        width: 1px;
        top: 0px;
        background: $color-light;
        border-radius: 10px;
      }
      .percentages {
        margin: 12px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .user-actions {
      margin-top: 40px;
    }
    .data {
      margin-top: 40px;
      .items {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        .item {
          flex-grow: 1;
          flex-basis: 0;
        }
        .key {
          font-family: MontserratLight !important;
          font-size: 18px;
          flex-grow: 3;
        }
        .value {
          font-size: 20px;
          font-weight: bold;
          flex-grow: 3;
          .perc {
            font-weight: normal;
            font-family: MontserratLight !important;
            font-size: 15px;
          }
        }
      }
    }
  }
}