@import '../../assets/colors';

.modify-asset-wrapper {
  .modify-asset-container {
    padding: 0px 10px;
    margin-top: -16px;
    .asset-details {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 20px;
      text-align: center;
      .name {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .id {
        color: $color-grey-dark;
        font-size: 16px;
      }
    }
    .enable-switch {
      float: right;
    }
    .custom-tooltip {
      margin-top: -10px;
      float: right;
    }
  }
}