@import "../../assets/colors";

.pool-wrapper {
  .pool-container {
    padding-left: 10px;
    .loading-pool {
      text-align: center;
      img {
        width: 200px;
        margin-top: 150px;
      }
      .text {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .pool-header {
      display: flex;
      justify-content: space-between;
      .reload, .open {
        display: inline-block;
        margin-left: 15px;
        svg {
          vertical-align: bottom;
        }
        &:hover {
          cursor: pointer;
        }
      }
      section {
        .pool-name {
          font-size: 24px;
          font-weight: 700;
          display: inline-block;
          svg {
            margin-right: 10px;
            color: $color-dark;
            vertical-align: middle;
          }
        }
        .pool-id {
          margin-left: 35px;
          margin-top: 5px;
          display: inline-block;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    .pool-body {
      .pool-alert {
        margin-top: 25px;
      }
    }
  }
}