@import '../../assets/colors';

.fund-wrapper {
  .fund-container {
    margin-top: 50px;
    .fund-header {
      position: relative;
      .fund-name {
        font-size: 36px;
        font-weight: 600;
      }
      .fund-id {
        font-size: 18px;
        margin-top: 15px;
        font-family: MontserratLight !important;
      }
      .fund-creator {
        float: right;
        font-size: 18px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        span {
          font-weight: bold;
        }
      }
    }
    .fund-body-tiles {
      margin-top: 50px;
      .tile {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.8);
        height: 150px;
        padding: 30px;
        .tile-header {
          .tile-name {
            font-size: 24px;
            font-weight: 600;
          }
          .tile-status {
            float: right;
            margin-top: -28px;
          }
        }
        .tile-body {
          margin-top: 40px;
          .count {
            font-size: 18px;
            span {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}