@import '../../assets/colors';

.fund-wrapper {
  .fund-container {
    margin-top: 50px;
    .fund-header {
      .fund-name {
        font-size: 30px;
        font-weight: 600;
      }
      .items {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
      }
      .reload {
        display: inline-block;
        margin-left: 15px;
        svg {
          vertical-align: bottom;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .fund-id {
        font-size: 18px;
        font-family: MontserratLight !important;
        display: inline-block;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .fund-creator {
        font-size: 18px;
        span {
          font-weight: bold;
        }
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .fund-body-tiles {
      margin-top: 30px;
      .tile {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.8);
        height: 150px;
        padding: 30px;
        .tile-header {
          .tile-name {
            font-size: 22px;
            font-weight: 600;
          }
          .tile-status {
            float: right;
            margin-top: -28px;
          }
        }
        .tile-body {
          margin-top: 40px;
          .count {
            text-align: center;
            .count-number {
              font-size: 42px;
              font-weight: 700;
            }
            .count-label {
              font-size: 16px;
              margin-top: 10px;
              color: $color-grey-dark;
              font-family: MontserratLight !important;
            }
          }



          .lock {
            text-align: center;
            .locker {
              font-size: 42px;
              font-weight: 700;
              margin-top: -7px;
              .lock-icon {
                color: #bfbfbf;
                border: 1px solid #bfbfbf;
                border-radius: 50%;
                padding: 10px;
              }
            }
            .lock-label {
              font-size: 16px;
              margin-top: 5px;
              color: #bfbfbf;
              font-family: MontserratLight !important;
            }
          }



          .tile-row {
            font-size: 16px;
            margin-top: 15px;
            svg {
              margin-right: 10px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}