@import '../../assets/colors';

.pool-wrapper {
  .pool-container {
    margin-top: 50px;
    .loading-pool {
      text-align: center;
      img {
        width: 200px;
        margin-top: 150px;
      }
      .text {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .pool-header {
      position: relative;
      .pool-name {
        font-size: 22px;
        font-weight: 600;
        a {
          &:hover {
            cursor: pointer;
          }
        }
        img.logo {
          width: 60px;
          height: 60px;
          border-radius: 10px;
          display: inline;
          vertical-align: text-bottom;
          margin-right: 10px;
        }
        svg {
          vertical-align: super;
          margin-right: 5px;
        }
      }
      .items {

      }
      .reload {
        display: inline-block;
        margin-left: 15px;
        svg {
          vertical-align: middle;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .pool-id {
        font-size: 16px;
        margin-top: 10px;
        font-family: MontserratLight !important;
        display: inline-block;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .pool-owner {
        font-size: 15px;
        font-family: MontserratLight !important;
        margin-top: 5px;
        position: absolute;
        right: 0px;
        bottom: 5px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .pool-body-tiles {
      margin-top: 20px;
      .tile {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        .tile-header {
          .tile-name {
            font-size: 18px;
            font-weight: bold;
          }
          .tile-status {
            float: right;
            margin-top: -28px;
          }
        }
        .tile-body {
          margin-top: 25px;
          margin-bottom: 5px;
          .count {
            text-align: center;
            .count-number {
              font-size: 24px;
              font-weight: 700;
              &.date {
                font-size: 20px;
              }
            }
            .count-label {
              font-size: 16px;
              margin-top: 10px;
              font-family: MontserratLight !important;
            }
          }



          .lock {
            text-align: center;
            margin-top: -10px;
            .locker {
              .lock-icon {
                background: $color-light;
                border-radius: 50%;
                padding: 5px;
                border: 2px solid #E0D21F;
                color: #E0D21F;
              }
            }
            .lock-label {
              font-size: 16px;
              margin-top: 5px;
              font-family: MontserratLight !important;
            }
          }



          .tile-row {
            font-size: 16px;
            margin-top: 15px;
            svg {
              margin-right: 10px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}