@import '../../assets/colors';

.login-wrapper {
  .login-container {
    height: 100vh;
    .left-container {
      height: 100vh;
      background: url("../../assets/images/login-cover.jpeg") no-repeat center;
      background-size: cover;
      text-align: center;
      .text {
        padding-top: 150px;
        font-size: 48px;
        font-weight: 500;
        color: $color-light;
      }
    }
    .right-container {
      height: 100vh;
      border-left: 1px solid $color-grey-light;
      .logo {
        img {
          padding-top: 25px;
          width: 140px;
          padding-left: 40px;
        }
      }
      .user-actions {
        text-align: center;
        margin-top: 350px;
      }
    }
  }
}