@import "../../assets/colors";

.header-wrapper {
  .header-container {
    height: 80px;
    background: rgba(255, 255, 255, 0.5);

    .items {
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        justify-content: space-between;
        .menu-link {
          display: inline-block;
          margin-right: 25px;
          font-size: 18px;
          font-weight: normal;
          margin-top: 29px;
          text-decoration: none;
          &.active {
            border-bottom: 2px solid #03B68C;
          }
          &:hover {
            text-decoration: none;
            border-bottom: 2px solid #03B68C;
          }
        }
        .logo {
          margin-top: 22px;
          &:hover {
            cursor: pointer;
          }
        }
        .connect-wallet-item {
          margin-left: 25px;
          background: #ffffff;
          width: 350px;
          height: 70px;
          text-align: center;
          display: inline-block;
          .user {
            .logout {
              margin-left: 25px;
              display: inline-block;
              &:hover {
                cursor: pointer;
                svg {
                  color: orangered;
                  border-color: orangered;
                }
              }
              svg {
                color: $color-grey-dark;
                border: 1px solid $color-grey-dark;
                border-radius: 50%;
                padding: 3px;
              }
            }
            img.avatar {
              width: 35px;
              vertical-align: bottom;
              margin-right: 15px;
              border-radius: 50%;
            }
            .addr {
              display: inline-block;
              font-size: 15px;
              font-weight: 600;
              margin-top: 18px;
              span {
                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
              .bal {
                font-weight: normal;
                font-size: 14px;
                font-family: MontserratLight !important;
                margin-top: 5px;
                text-align: left;
                img {
                  display: inline-block;
                  width: 12px;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}