@import '../../assets/colors';

.asset-action-icon {
  margin-right: 10px;
}

.assets-wrapper {
  .assets-container {
    margin-top: 25px;
    .assets {
      margin-top: 25px;
      .asset {
        .balance {
          font-size: 18px;
          font-weight: bold;
        }
        .balance-val {
          margin-top: 10px;
          font-weight: bold;
          font-size: 18px;
          color: $color-grey-dark
        }
        .asset-name {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .asset-id {
          margin-top: 5px;
          font-size: 15px;
          font-weight: bold;
          text-decoration: underline;
          color: $color-grey-dark;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .params {
          .param {
            margin-top: 10px;
            .key {
              .indicator {
                width: 10px;
                height: 10px;
                display: inline-block;
                border-radius: 50%;
                margin-right: 10px;
                vertical-align: baseline;
                &.green {
                  background: #00ca4e;
                }
                &.red {
                  background: #ff605c;
                }
                &.orange {
                  background: #ffbd44;
                }
              }
            }
            .value {
              margin-top: 5px;
              font-size: 13px;
              color: $color-grey-dark;
              overflow: hidden;
              text-overflow: ellipsis;
              &.clickable {
                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    .empty-message {
      margin-top: 25px;
    }
    .title {
      font-size: 25px;
      font-weight: bold;
      margin-top: 30px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $color-grey-light;
      .add-asset {
        margin-left: 20px;
      }
    }

  }
}