@import '../../assets/colors';

.send-assets-wrapper {
  .send-assets-container {
    .asset-details {
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-grey-light;
      margin-bottom: 10px;
      text-align: center;
      .name {
        margin-bottom: 5px;
      }
      .bal {
        color: $color-grey-dark;
        font-size: 16px;
      }
    }
  }
}