@import '../../assets/colors';

.company-details-wrapper {
  .company-details-container {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding: 30px;
    .title {
      font-size: 24px;
      font-weight: 600;
    }
    .data {
      margin-top: 50px;
      .pair {
        display: flex;
        margin: 40px 0px;
        justify-content: space-between;
        .key {
          font-size: 18px;
        }
        .value {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}