@import '../../assets/colors';

.dashboard-wrapper {
  .dashboard-container {
    margin-top: 10px;
    .dashboard-body {
      background: $color-light;
      padding: 40px;
      border-radius: 8px;
      margin-bottom: 40px;
    }
    .dashboard-tabs {
      margin-top: 20px;
      border-bottom: 1px solid $color-grey-light;
    }
  }
}