@import '../../assets/colors';

.revoke-assets-wrapper {
  .revoke-assets-container {
    margin-top: -20px;
    .asset-details {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
      .name {
        margin-bottom: 10px;
        font-size: 20px;
      }
      .id {
        color: $color-grey-dark;
        font-size: 16px;
      }
    }
  }
}