.portal-wrapper {
  .portal-container {
    background: url("../../assets/images/portal-back.jpeg");
    //background: #D9ECDE;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 100px;
  }
}