@import "~reset-css/sass/reset";
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import "./assets/colors";

@font-face {
  font-family: 'SourceSansPro';
  src: url('assets/fonts/SourceSansPro-Regular.otf.woff') format('woff'),
  url('assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url('assets/fonts/SourceSansPro-Light.otf.woff') format('woff'),
  url('assets/fonts/SourceSansPro-Light.otf.woff') format('truetype');
}

body {
  font-family: "SourceSansPro";
}
* {
  font-family: "SourceSansPro" !important;
}

.address-field {
  textarea {
    color: $color-grey-dark;
    font-size: 13px;
  }
}