@import '../../assets/colors';

.my-investments-wrapper {
  .my-investments-container {
    .pools-header {
      font-size: 24px;
      font-weight: bold;
    }
    .pools {
      margin-top: 60px;
      .pools-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .list-title {
          font-size: 22px;
          font-weight: 600;
          margin-top: 8px;
          font-family: MontserratBold !important;
        }
      }

      .empty-pools {
        margin-top: 50px;
        font-size: 19px;
        font-weight: normal;
        color: $color-grey-dark;
      }

      .pool {
        border-radius: 10px;
        border: 1px solid $color-grey-light;
        padding: 20px;
        background: rgba(255, 255, 255, 0.8);
        position: relative;
        img.logo {
          width: 45px;
          height: 45px;
          border-radius: 10px;
          display: inline;
          vertical-align: text-bottom;
          margin-right: 10px;
        }
        .pool-status {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 14px;
          font-weight: bold;
        }
        .pool-name {
          font-size: 20px;
          font-weight: 600;
          width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 1.2;
          display: inline-block;
          .pool-id {
            font-size: 16px;
            color: $color-grey-dark;
          }
        }

        .footer {
          margin-top: 50px;
          .detail {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            img {
              display: inline-block;
              width: 16px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}