.dashboard-wrapper {
  .dashboard-container {
    h1 {
      font-size: 24px;
      font-family: MontserratBold !important;
      margin-top: 20px;
      margin-left: 20px;
    }
    padding: 25px;
  }
}