@import '../../assets/colors';

.opt-in-wrapper {
  .opt-in-container {
    .searching {
      height: 400px;
      overflow: auto;
      text-align: center;
      .text {
        margin-top: 20px;
      }
    }
    .no-results {
      height: 250px;
      text-align: center;
      padding-top: 150px;
    }
    .searched-assets {
      height: 400px;
      overflow: auto;
      background: #F6FBF8;
      margin-top: -15px;
      border-radius: 10px;
      .asset {
        padding: 20px;
        border-top: 1px solid $color-grey-light;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        &:hover {
          background: #E3F4EA;
        }
        svg {
          position: absolute;
          right: 15px;
          top: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}