@import '../../assets/colors';

.invest-modal-wrapper {
  .invest-modal-container {
    margin: -16px 15px 15px;
    .exchange-ratio {
      font-size: 20px;
      font-weight: bold;
    }
    .asset-section {
      margin-top: 15px;
      .header-text {
        margin-bottom: 15px;
      }
      &.highlight {
        background: #E5F9F0;
        border-radius: 10px;
        padding: 25px 20px;
        margin-top: 25px;
      }
      .white-back {
        .amount {
          background: $color-light;
          padding: 20px;
          border-radius: 10px;
        }
      }
      .payment-asset {
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        margin-top: 15px;
      }
    }
  }
}