.pool-strip-wrapper {
  .pool-strip-container {
    margin-top: 30px;
    background: rgb(218,240,227);
    border-radius: 10px;
    .tile {
      text-align: center;
      padding: 20px;
      .tile-name {
        margin-top: 10px;
        font-size: 16px;
        font-family: MontserratLight !important;
      }
      .tile-value {
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
        img {
          width: 16px;
          margin-left: 5px;
        }
        &.small {
          margin-top: 25px;
          font-size: 16px;
        }
      }
    }
  }
}