@import '../../assets/colors';

.publish-pool-wrapper {
  .publish-pool-container {
    margin-top: -8px;
    .pricing {
      header {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        font-family: MontserratBold !important;
      }
      .item {
        padding: 20px;
        .value {
          font-size: 20px;
          margin-bottom: 10px;
          svg {
            vertical-align: sub;
            margin-right: 5px;
          }
          span {
            font-family: MontserratBold !important;
            font-size: 16px;
          }
        }
        .text {
          margin-left: 30px;
          line-height: 1.2;
          font-size: 15px;

        }
      }
    }
  }
}