@import '../../assets/colors';

.asset-action-icon {
  margin-right: 10px;
}

.created-assets-wrapper {
  .created-assets-container {
    margin-top: 50px;
    .created-assets-header {
      display: flex;
      justify-content: space-between;
    }
    .assets {
      margin-top: 30px;
      .asset {
        padding: 0px 10px;
        .card-action-custom {
          background: $color-grey-very-light;
        }
        .url {
          padding: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $color-grey-dark;
          a {
            color: $color-grey-dark;
          }
        }
        .asset-id {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .params {
          margin-top: -25px;
          .balance {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 42px;
            svg {
              vertical-align: middle;
              margin-right: 10px;
            }
          }
          .name {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 36px;
          }
          .param {
            padding-bottom: 10px;
            &:hover {

            }
            .key {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              margin-left: 5px;
            }
            .value {
              margin-top: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              .indicator {
                float: right;
                margin-top: 2px;
                svg {
                  font-size: 16px;
                }
              }
              &.back-highlight {
                background: rgb(218,240,227, 0.6);
                padding: 12px;
                border-radius: 10px;
                font-size: 14px;
              }
              &.clickable {
                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
              &.empty {
                color: #A9A9A9;
              }
            }
          }
        }
      }
    }
    .empty-message {
      margin-top: 150px;
      text-align: center;
      img {
        width: 200px;
      }
      .text {
        margin-top: 20px;
        font-weight: bold;
        color: #A9A9A9;
        font-size: 18px;
      }
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $color-grey-light;
      .asset-count {
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
      }
    }

  }
}