@import '../../assets/colors';

.nfts-wrapper {
  .nfts-container {
    margin-top: 50px;
    .nfts-header {
      display: flex;
      justify-content: space-between;
    }
    .nfts {
      margin-top: 30px;
      .nft {
        padding: 0px;
        box-shadow: none;
        border-radius: 10px;
        position: relative;
        background: rgba(247,244,201,0.2);
        &:hover {
          background: #DAF0E3;
        }
        .nft-media {
          img {
            width: 100%;
            height: auto;
          }
        }
        .nft-params {
          padding: 15px;
          .row {
            display: flex;
            justify-content: flex-start;
            margin: 12px 0px;
            &.bold {
              .item {
                font-family: PoppinsBold !important;
              }
            }
          }
        }
        &:hover {
          cursor: pointer;
          .nft-actions {
            display: block;
          }
        }
        .nft-actions {
          position: absolute;
          width: 100%;
          height: 50px;
          bottom: 125px;
          background: #03B68C;
          display: none;
          .actions {
            display: flex;
            justify-content: space-around;
            .action {
              svg {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
    .empty-message {
      margin-top: 150px;
      text-align: center;
      img {
        width: 200px;
      }
      .text {
        margin-top: 20px;
        font-weight: bold;
        color: #A9A9A9;
        font-size: 18px;
      }
    }
  }
}